{% extends 'layout.html' %}

{% block page_content %}
<div>
    <h1>Home: </h1>    
          <p><b>Username:</b> {{current_user.Username}} </p>
          <p><b>Email:</b> {{current_user.Email}} </p>    
          ({{role}})  
      <hr>

    <div class="row">
        <div class="col-md-9">
            {% if current_user.RoleID == 1 %}
            <h2>My Requests:</h2>
            {% else %}
            <h2>System Requests:</h2>
            {% endif %}
        
        </div>
        <div class="col-md-3"><h3 style="display: inline;">Select status:</h3> &nbsp; 
            
            <select name="status" id="status" onchange="location = this.value;">
                <option value="{{ url_for('main.home') }}">Pending</option>
                <option value="{{ url_for('main.home', status='1') }}">Accepted</option>
                <option value="{{ url_for('main.home', status='0') }}">Rejected</option>
              </select>
     
    </div>
    </div>
      <br>
    <div>
        <table class="table table-bordered">
            <thead>
                <td>Request</td>
                <td>Request Details</td>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <td><a href="{{ url_for('main.requestDetails', requestID=request.RequestID) }}">{{ request.RequestTitle }}</a></td>
                    <td>{{request.RequestDetails}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}