{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
GF Software Ticketing | Request Details
{% endblock %}

{% block page_content %}
<h1>Request Details: {{request.RequestTitle}}</h1>
<h2>Left by: {{requestUser.Username}}</h2>
<br>

{% if request.RequestAccepted is none %}
    <div class="alert alert-warning">Request Pending</div>
{% elif request.RequestAccepted %}
<div class="alert alert-success">Request Accepted</div>
{% else %}
<div class="alert alert-danger">Request Rejected</div>
{% endif %}

<!-- Form -->
<form method="post">

    <div class="form-group">
      <label for="{{ form.title.id }}">Request Title:</label>
      {{ form.title(class_='form form-control') }}
    </div>

    <div class="form-group">
      <label for="{{ form.details.id }}">Request Details:</label>
      {{ form.details(class_='form form-control') }}
    </div>

    <div class="form-group">
      <label for="{{ form.impact.id }}">Request Impact:</label>
      {{ form.impact(class_='form form-control') }}
    </div>

    <div class="form-group">
      <label for="{{ form.deadline.id }}">Request Deadline:</label>
      {{ form.deadline(class_='form form-control') }}
    </div>

    <div class="form-group">
      <label for="{{ form.importance.id }}">Request Importance:</label>
      {{ form.importance(class_='form form-control') }}
    </div>

    {% if request.RequestAccepted is none and requestUser.id == current_user.id %}
    <button type="submit" class="btn btn-primary">Update Request</button>
    <button type="submit" class="btn btn-danger">Delete Request</button>
    {% endif %}


    {% if request.RequestAccepted is none and current_user.RoleID == 2 %}
    <button type="submit" class="btn btn-success" style="float: right; margin-left: 5px;">Accept</button> 
    <button type="submit" class="btn btn-danger" style="float: right;">Reject</button> 
    {% endif %}
  </form> 
{% endblock %}