{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
GF Software Ticketing | Request Details
{% endblock %}

{% block page_content %}
<h1>Request Details: {{rq.RequestTitle}}</h1>
<h2>Left by: {{requestUser.Username}}</h2>
<br>

{% if rq.RequestAccepted is none %}
    <div class="alert alert-warning">Request Pending</div>
{% elif rq.RequestAccepted %}
<div class="alert alert-success">Request Accepted</div>
{% else %}
<div class="alert alert-danger">Request Rejected</div>
{% endif %}

<!-- Form -->
<form method="post">

    <div class="form-group">
      <label for="{{ form.title.id }}">Request Title:</label>
      {{ form.title(class_='form form-control', disabled=disabledField) }}
    </div>

    <div class="form-group">
      <label for="{{ form.details.id }}">Request Details:</label>
      {{ form.details(class_='form form-control', disabled=disabledField, style='resize: vertical;') }}
    </div>

    <div class="form-group">
      <label for="{{ form.impact.id }}">Request Impact:</label>
      {{ form.impact(class_='form form-control', disabled=disabledField, style='resize: vertical;') }}
    </div>

    <div class="form-group">
      <label for="{{ form.deadline.id }}">Request Deadline:</label>
      {{ form.deadline(class_='form form-control', disabled=disabledField) }}
    </div>

    <div class="form-group">
      <label for="{{ form.importance.id }}">Request Importance:</label>
      {{ form.importance(class_='form form-control', disabled=disabledField) }}
    </div>

    {% if rq.RequestAccepted is none and requestUser.id == current_user.id %}
    {{ form.update(class_='btn btn-primary') }}
    {{ form.delete(class_='btn btn-danger') }}
    {% endif %}


    {% if rq.RequestAccepted is none and current_user.RoleID == 2 %}

    {{ form.accept(class_='btn btn-success', style='float: right; margin-left: 5px;') }}
    {{ form.reject(class_='btn btn-danger', style='float: right;') }}
    
    {% endif %}
  </form> 
{% endblock %}